@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", monospace;
}
p {
    font-family: "Roboto", sans-serif;
}

/* *{
    color: var(--ligth);
} */

body {
    margin: 0;
    padding: 0;
}
i {
    color: var(--ligth);
}
a {
    text-decoration: none;
    color: var(--ligth);
}
a:hover {
    color: var(--accent);
}

:root {
    --grey: #757575;
    --white: #ffffff;
    --black: #000000;
    --ligth: #f8e6c9;
    --primary: rgb(230, 151, 61);
    --secondary: #ffb703;
    --transparent: rgba(255, 255, 255, 0);
    --accent: #219ebc;
    --shadow: 0px 1px 5px #4f5d75;
}

.text-grey {
    color: var(--grey);
}
.text-white {
    color: var(--white) !important;
}

.text-black {
    color: var(--black) !important;
}
.text-ligth {
    color: var(--ligth) !important;
}
.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-accent {
    color: var(--accent) !important;
}
.bg-black {
    background-color: var(--black) !important;
}
.bg-ligth {
    background-color: var(--ligth) !important;
}
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-accent {
    color: var(--accent) !important;
}

/* style navbar */
.dropdown-menu[data-bs-popper] {
    left: -100px;
}

.fa-bullhorn {
    color: var(--accent);
}

/* fine style navbar */
/* style generale */
.full {
    width: 90vw;
}
.link-reg {
    color: var(--accent) !important;
}

.row-home {
    width: 50vw;
}
.btn-transparent {
    background: transparent;
    border: transparent;
}
.btn-accent {
    background-color: var(--accent);
    color: var(--white);
    border: 2px solid var(--accent);
}
.btn-accent:hover {
    border: 2px solid var(--accent);
    background-color: var(--transparents);
    color: var(--accent);
}
.min-page {
    min-height: 70vh;
}
.header-megafono {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/media/megafono.jpg");
    background-size: cover;
    background-position: center;
}
.header-full {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/media/megafono.jpg");
    background-size: cover;
    background-position: center;
}
.header-home {
    height: 80vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url("/media/copertina_presto.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.header-btn {
    z-index: 999;
}
/* fine style generale */

/* style footer */
.footer {
    background-color: var(--primary);
    padding: bottom 20px;
}
.copyrigth {
    border-bottom: solid var(--ligth) 1px;
}
.indirizzo p {
    margin: unset;
    font-size: 14px;
}
.copyrigth p {
    margin: unset;
    font-size: 14px;
}
li {
    text-decoration: none;
    color: var(--ligth);
}
li:hover {
    color: var(--accent);
    border-bottom-color: var(--accent);
    transition: 1s;
}
.list-footer li {
    font-size: 12px;
}
.form-newsletter {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent !important;
    border-bottom-color: var(--ligth);
}

ol,
ul,
li {
    list-style: none;
}

.small-footer {
    font-size: 1.2rem;
}

footer h4 {
    color: var(--grey);
}

@media screen and (max-width: 767px) {
    .indirizzo {
        font-size: 10px;
        flex-direction: unset;
    }
    .brand-footer {
        justify-content: center;
    }
    .box-indirizzo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* fine style footer */

/* nav-bar */
.header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    /* justify-content: space-between; */
    padding: 0.5rem 1rem;
    z-index: 2;
    background: var(--primary);
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    border-radius: 10px;
}

.header a {
    text-decoration: none;
    color: var(--ligth);
    font-size: 2rem;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-items li a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.menu-items li a:hover {
    background-color: var(--ligth);
    color: var(--primary);
}

/* nav menu button */

.btnNavCustom {
    color: var(--dark);
    text-transform: uppercase;
    background: var(--accent);
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--dark);
    transition: 0.3s ease-in-out;
}

.btnNavCustom:hover {
    box-shadow: var(--shadow);
    color: white;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111;
    transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
    transform: translateY(0.5rem);
}

.menu-btn__lines::before,
.menu-btn__lines::after {
    content: "";
    position: absolute;
}

/* animation */

.menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #fff;
}
.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #fff;
}

/* Login/Register Modal */

.box {
    margin-top: 120px;
}

.modal {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 100px;
}

.modalContent {
    background-color: var(--primary);
    margin: 5px auto;
    border: 1px solid var(--dark);
    width: 30%;
}

.modalClose {
    position: absolute;
    right: 75px;
    top: 25px;
    z-index: 1024;
    color: var(--primary);
}

/* Custrom Shaper */
.imgHome {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    width: 100;
}

.wrapper {
    margin: 0;
    padding: 0;
    position: relative;
}

.custom-shape-divider-bottom-1631662188 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin: 0;
}

.custom-shape-divider-bottom-1631662188 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1631662188 .shape-fill {
    fill: #ffffff;
}

.beneathNav {
    height: 150px;
}
.bandiere {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .bandiera-ita {
        margin-top: 30px;
    }
}

/* inizio card di dtile nella home /
/ *{
    margin: 0;
    padding: 0;
} */

.card-coustom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card_custom {
    position: relative;
}
.card_custom .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: var(--secondary);
    border-radius: 20px;
    overflow: hidden;
}
.card_custom .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 151, 61, 0.35);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.card_custom .card:hover::before {
    clip-path: circle(150px at 80% -20%);
}

.card_custom .card::after {
    content: "Presto.it";
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.13);
}

.card_custom .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.card_custom .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.card_custom .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}
.card_custom .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 1;
}

.card_custom .card:hover .contentBx {
    height: 210px;
}
.card_custom .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.card_custom .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary);
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: var(--ligth);
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    font-style: italic;
}
.card_custom .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
@media screen and (max-width: 900px) {
    .card_custom .card {
        width: 220px;
        height: 300px;
    }
    .card_custom .card .contentBx h2 {
        position: relative;
        font-weight: 400;
        letter-spacing: 1px;
        top: 50px;
    }
    .card_custom .card:hover .contentBx {
        height: 140px;
    }
    .card-coustom {
        min-height: 55vw;
    }
    .card_custom .card:hover .contentBx a {
        opacity: 1;
        transform: translateY(37.5px);
        transition-delay: 0.75s;
    }
}

@media screen and (max-width: 550px) {
    .card_custom .card {
        width: 220px;
        height: 300px;
    }
    .card_custom .card .contentBx h2 {
        position: relative;
        font-weight: 400;
        letter-spacing: 1px;
        top: 50px;
    }
    .card_custom .card:hover .contentBx {
        height: 140px;
    }
    .card-coustom {
        min-height: 50vh;
    }
    .card_custom .card:hover .contentBx a {
        opacity: 1;
        transform: translateY(37.5px);
        transition-delay: 0.75s;
    }
}

@media screen and (max-width: 320px) {
    .card_custom .card {
        width: 220px;
        height: 300px;
    }
    .card_custom .card .contentBx h2 {
        position: relative;
        font-weight: 400;
        letter-spacing: 1px;
        top: 50px;
    }
    .card_custom .card:hover .contentBx {
        height: 140px;
    }
    .card-coustom {
        min-height: 65vh;
    }
    .card_custom .card:hover .contentBx a {
        opacity: 1;
        transform: translateY(37.5px);
        transition-delay: 0.75s;
    }
}

/* fine  card di dtile nella home */

/* inizio css datail.blade.php */
.flex {
    justify-content: center;
    align-items: center;
}
.descrizione {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fine css datail.blade.php */

.colorText {
    color: black;
}
/** For mobile devices **/
@media (max-width: 900px) {
    .custom-shape-divider-bottom-1631662188 svg {
        width: calc(156% + 1.3px);
        height: 150px;
    }
    .header {
        justify-content: space-between !important;
    }
    .header a {
        font-size: 1rem;
    }
    .menu-btn {
        display: flex;
    }
    .menu-items {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: var(--secondary);
        transform: translateX(100vw);
        transition: transform 0.3s ease-in-out;
    }
    .menu-items.open {
        transform: translateX(0);
    }
    .menu-items li {
        width: 100vw;
        height: 100%;
    }
    .menu-items li a {
        color: #fff;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .menu-items li a:hover {
        color: #111;
    }
}

.bordi-dettaglio {
    border-bottom: black solid 1px;
}

/*.card-coustom-articoli{
    height: 380px;
}

.img-card-annunci{
    height: 200px;
}*/

.cardtxt {
    color: var(--black);
}

.dropzone .dz-message .dz-button {
    color: var(--accent);
}

.dz-remove {
    color: red;
}

.btnTransparent {
    background: transparent;
    border: 0px;
}

.scrollTop {
    display: none;
    background: transparent;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}

.scrollTop lord-icon {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.bordi-dettaglio {
    border-bottom: rgb(83, 83, 83) solid 1px;
}

.bordino-home-revisore {
    border: rgb(129, 129, 129) solid 1px;
    margin: 15px;
    box-shadow: 0px 10px 5px 0px rgba(33, 158, 188, 0.75);
}

.revisore {
    padding-left: 10px;
}

.medium-text {
    font-size: 1rem;
}

.flag {
    border: #fff 2px solid;
    border-radius: 100px;
    background-color: #fff;
}
